{% extends "base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load attributes %}

<div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l9">
        <form method="post" class="card" id="form-product" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <span class="card-title">
              {{ product.product_class }}
            </span>
            <div class="row">
              <div class="col s12 l8" >
                <div class="row">
                  {{ product_form.name|materializecss }}
                </div>
                {% for attribute_field in product_form.iter_attribute_fields %}
                  <div class="row">
                    {{ attribute_field|materializecss:"input-field s12" }}
                  </div>
                {% endfor %}
                <div class="row">
                  {{ product_form.description|materializecss }}
                </div>
              </div>
              <div class="col s12 l4">
                <div class="row">
                  {{ product_form.price|materializecss }}
                </div>
                {% if not product.product_class.has_variants %}
                  <div class="row">
                    {{ variant_form.sku|materializecss }}
                  </div>
                {% endif %}
                <div class="row">
                  {{ product_form.categories|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.available_on|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.is_featured|materializecss }}
                </div>
              </div>
            </div>
          </div>
